/* -----------------------------------------------------------
variables and setup
------------------------------------------------------------ */
/* line 17, ../sass/inputs.scss */
body {
  color: #333;
  font: 12px Helvetica;
  padding: 0 10%;
}

/* -----------------------------------------------------------
basic styles
------------------------------------------------------------ */
/* line 26, ../sass/inputs.scss */
label {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
}

/* line 33, ../sass/inputs.scss */
.fields {
  margin-bottom: 10px;
}

/* line 36, ../sass/inputs.scss */
.field {
  margin-right: 10px;
  position: relative;
}

/* line 41, ../sass/inputs.scss */
.radio label, .checkbox label {
  font-weight: normal;
}
/* line 44, ../sass/inputs.scss */
.radio input, .checkbox input {
  margin-right: 5px;
}

/* -----------------------------------------------------------
layout
------------------------------------------------------------ */
/* line 53, ../sass/inputs.scss */
.horizontal label:first-child {
  float: left;
  margin-right: 20px;
  text-align: right;
  width: 150px;
}
/* line 59, ../sass/inputs.scss */
.horizontal .field {
  display: inline-block;
  margin-bottom: 10px;
}

/* -----------------------------------------------------------
custom input theme
------------------------------------------------------------ */
/* line 69, ../sass/inputs.scss */
.custom-input label {
  margin-left: -21px;
  padding-left: 21px;
  position: relative;
}
/* line 73, ../sass/inputs.scss */
.custom-input label:before {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q5ZDlkYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(100%, #d9d9db));
  background: -webkit-linear-gradient(#efefef, #d9d9db);
  background: -moz-linear-gradient(#efefef, #d9d9db);
  background: -o-linear-gradient(#efefef, #d9d9db);
  background: -ms-linear-gradient(#efefef, #d9d9db);
  background: linear-gradient(#efefef, #d9d9db);
  background-color: #efefef;
  border: 1px solid #cdc7c7;
  content: "";
  display: block;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  left: 0;
  height: 15px;
  width: 15px;
  z-index: 5;
}
/* line 87, ../sass/inputs.scss */
.custom-input label:after {
  color: #048ec7;
  content: "";
  display: none;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  left: 4px;
  height: 9px;
  width: 9px;
  z-index: 10;
}
/* line 99, ../sass/inputs.scss */
.custom-input label.hover:before, .custom-input label.focus:before {
  -moz-box-shadow: #00b4ff 0 0 5px;
  -webkit-box-shadow: #00b4ff 0 0 5px;
  -o-box-shadow: #00b4ff 0 0 5px;
  box-shadow: #00b4ff 0 0 5px;
}
/* line 102, ../sass/inputs.scss */
.custom-input label.checked:after {
  display: block;
}
/* line 108, ../sass/inputs.scss */
.custom-input.radio label:before {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
}
/* line 111, ../sass/inputs.scss */
.custom-input.radio label:after {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjRmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA0OGVjNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b4ff), color-stop(100%, #048ec7));
  background: -webkit-linear-gradient(#00b4ff, #048ec7);
  background: -moz-linear-gradient(#00b4ff, #048ec7);
  background: -o-linear-gradient(#00b4ff, #048ec7);
  background: -ms-linear-gradient(#00b4ff, #048ec7);
  background: linear-gradient(#00b4ff, #048ec7);
  background-color: #00b4ff;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
}
/* line 120, ../sass/inputs.scss */
.custom-input.checkbox label:before {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 123, ../sass/inputs.scss */
.custom-input.checkbox label:after {
  content: "\2713";
  left: 4px;
  margin-top: -13px;
}
/* line 130, ../sass/inputs.scss */
.custom-input input {
  outline: none;
  position: relative;
  top: 1px;
  left: 2px;
}
